fastapi[standard]==0.112.2
geoip2==4.8.0
ipwhois==1.2.0
ldap3==2.9.1
maxminddb==2.6.2
passlib==1.7.4
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic-settings-toml==0.2.0
PyMySQL==1.1.1
redis==5.0.8
SQLAlchemy==2.0.32
systemd-python~=235